<button class="back" (click)="goBack()">&larr; Retour</button>
<div class="container">

  <h2 class="subtitle">{{ countryName }}</h2>

  <div class="box-info">
    <div class="label">Participations
      <div class="imp">{{ participations }}</div>
    </div>
    <div class="label">Total médailles
      <div class="imp">{{ totalMedals }}</div>
    </div>
    <div class="label">Total athlètes
      <div class="imp">{{ totalAthletes }}</div>
    </div>
  </div>

  <ngx-charts-line-chart
    [results]="medalsSeries"
    [view]="view"
    [scheme]="'vivid'"
    [legend]="showLegend"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale"
    [animations]="animations">
  </ngx-charts-line-chart>
</div>
